{% extends "base.html" %}
{% block content %}

<div class="container">
  {% if msg %}
    <button type="button" class="btn btn-danger" style="margin-top: 10px;">{{ msg }}</button>
  {% endif %}
  <div class="row">
  {% for i in data %}
    <div class="col col-lg-6 col-md-6 col-sm-12" style="padding-bottom: 15px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Record #{{ i.0 }}</h5>
          <p>{{ i.1 }}</p>
          <a href="#" class="card-link" data-toggle="modal" data-target="#Modal{{i.0}}">Edit</a>
          <a href="/delete_record/{{ i.0|int }}" class="card-link">Remove</a>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modal{{i.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Record #{{ i.0 }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/edit_record/{{ i.0|int }}" method="POST">
               <div class="form-group">
                 <textarea class="form-control" id="data" name="data" rows="3" placeholder="{{ i.1 }}"></textarea>
               </div>
               <div class="btn-group btn-group-lg" role="group">
                 <input type="submit" value="Save" class="btn btn-primary btn-user btn-block" />
               </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- END Modal -->
  {% endfor%}
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <form action="" method="POST">
         <div class="form-group">
           <label for="data">Type text to save in db here</label>
           <textarea class="form-control" id="data" name="data" rows="3"></textarea>
         </div>
         <div class="btn-group btn-group-lg" role="group">
           <input type="submit" value="Save" class="btn btn-primary btn-user btn-block" />
         </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
